:root {
	--color-text-primary: #969697;
	--color-text-secondary: blueviolet;
	--color-background-light: #282D33;
	--color-background-dark: #21242B;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

    font-family: 'Courier Prime', monospace;
}

body {
    background-color: rgb(150, 151, 180);
}

.app {
    margin: 0 auto;

    width: 800px;
    height: 600px;
    display: grid;
    grid-template-columns: 50% 50%; 
}

.input {
    background-color: var(--color-background-light);

    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex; 
    flex-direction: column;
    justify-content: stretch;
    align-content: stretch;
}
.input header {
    height: 50px;

    top: 0px;
    padding: 15px;
    padding-bottom: 0px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
} 
.input img {
    height: 100%;
}
.input .button-run {
    height: 100%;
    background-color: var(--color-text-primary);/*#5a6574;*/
    color: var(--color-background-dark);
    border-radius: 10px;
    padding: 5px;
}  
.input textarea {
    resize: none;
    overflow: auto;
    flex-grow: 1;
    flex-basis: auto;

    padding: 15px;
    color: blueviolet;
    font-size: 14pt;
    background: none;
    border: none;
}
.input .mode {
    height: 30px;
    background-color: var(--color-background-dark);
    border: none;

    border-bottom-left-radius: 10px;

    color: cornsilk;

}


.output {
    background-color: var(--color-background-dark);
    color: var(--color-text-primary);

    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.output-empty {
	height: 100%;

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}
.output-empty svg {
    align-self: center;
    width: 25%;
    height: auto;
}


/* TABLES */
table { 
	border-collapse:  collapse;
	width: 100%;
}

td, th {
	border: 1px solid var(--color-text-primary);
	padding: 2px;
}
tr:nth-child(odd){
	background-color: var(--color-background-light);
}
